*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --primary-color: #457b9d;
    --secondary-color: #1d3557;
    --title-color: #a8dadc;
    --text-color: #fdfdfd;
    --background-color: #283618; 
    --nice-gray: rgb(52, 53, 58);
}

.roboto-mystyle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin: 0;
}

.nav__bar{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 80px;
    border-bottom: 3px solid white;
}

.nav__bar ul{
    height: 80px;
    margin-top: 0;
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: end;
}

.nav__bar li{
    display: inline-block;
    padding: 2em 1em;
    height: 80px;
}

.nav__links {
    text-decoration: none;
    color: var(--text-color)
}

.nav__bar li:hover, .nav__bar li:focus{
    background-color: var(--secondary-color);
}

/* Media Queries */

.section__container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    @media (width >= 960px) {
    height: 100vh;
    width: 100%;
    }
}

h1 {
    font-size: 2.5rem;

    @media (width >= 640px) {
    font-size: 3.5rem;
    }

    @media (width >= 960px) {
    font-size: 4.5rem;
    }

}

h2 {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-color);

    @media (width >= 640px) {
    font-size: 2.5rem;
    }

    @media (width >= 960px) {
    font-size: 4rem;
    }

}

h3 {
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--text-color);

    @media (width >= 640px) {
    font-size: 2rem;
    }

    @media (width >= 960px) {
    font-size: 3rem;
    }

}

h4 {
    font-size: 1.5rem;
    font-weight: 100;

    @media (width >= 640px) {
    font-size: 1.8rem;
    }

    @media (width >= 960px) {
    font-size: 3rem;
    }

}

p {
    font-size: 1.1rem;
    font-weight: 100;

    @media (width >= 640px) {
    font-size: 1.4rem;
    }

    @media (width >= 960px) {
    font-size: 1.5rem;
    }

}