---

---

<section class="section__container" id="about">
  <h1>About me, shortly</h1>
  <h2>My name is José,</h2>
  <h3>and I'm a Technical Support Engineer.</h3>
  <div class="about__text">
      <p>
        I'm a Civil Engineer graduate (talk about problem solving and brick laying)
        who took the decision of switching his career path to Tech-oriented ways
        once I moved to Belgrade. I have worked as a barista, a Fire Protection
        Design Engineer, a customer-facing Spanish speaking representative in a call
        center, and a "Solution finder" for certain auto-pay misses for NCR.
      </p>
      <p class="about__aside">They came up with that title, not me.</p>
      <p>
        Now, I work with Foursquare in the Customer Success organization, solving problems for both internal and external clients,
        to do this I use Python, SQL, Bash and AWS along with the soft skills required to mantain a healthy and long lasting 
        relationship with clients. As you can see, all throughout my career I have had roles where customer-facing abilities are 
        a must, combining them with problem solving abilities that both my studies and my own
        way of thinking have given me. Of course, there is a lot more to this than abilities
        and knowledge, attitude is a big part of facing customers and I pride myself on always keeping a good one.
      </p>
    </div>
  </div>
</section>


<style>
  .section__container {
    background-color: var(--primary-color);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .about__content {
    max-width: 800px;
    padding: 0 2rem;
    text-align: center;
  }


  h1 {
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
  }

    h2 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  h3 {
    margin-top: 0;
    opacity: 0.9;
    text-align: center;
  }

  .about__text {
    text-align: left;
    margin-top: 2rem;
  }

  .about__text p {
    margin: 0 0 1.2rem 0;
    padding: 0;
  }

  .about__aside {
    font-style: italic;
    opacity: 0.8;
    padding-left: 1rem !important;
    border-left: 3px solid var(--secondary-color);
  }


</style>
