---
import Card from "./Project_card.astro";
import data from "../data/projects.json";
const projects = data.projects;
---

<section class="section__container" id="projects">
  <h1>Projects</h1>
  <div class="card-wrapper">
    {
      projects.map((proj) => (
        <Card image={proj.image} link={proj.link} title={proj.title} />
      ))
    }
  </div>
</section>

<style>
  .section__container {
    background-color: var(--secondary-color);
    padding: 5rem 2rem;
    height: fit-content;
  }

    h1 {
    margin-bottom: 2rem;
  }


  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
    max-width: 900px;


    @media (width >= 640px) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
