---

---

<section class="section__container" id="projects">
  <h1>Projects</h1>
  <ul>
    <li>Data Pipeline</li>
    <li>House Market Analysis</li>
    <li>Car price analysis</li>
  </ul>
</section>
