---
const { title, link, image } = Astro.props;
---

<div class="project_card">
  <a href={link}><img src={image} /></a>
  <h3>{title}</h3>
</div>

<style>
  .project_card {
    background-color: var(--nice-gray);
    border: 1px solid white;
    height: relative;
    position: relative;
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.75rem;

    @media (width >= 960px) {
      padding-bottom: 1rem;
    }
  }

  .project_card img {
    height: 80%;
    width: 100%;
  }

  .project_card h3 {
    font-size: 1.3rem;
    text-align: center;

    @media (width >= 640px) {
      font-size: 1.1rem;
    }

    @media (width >= 960px) {
      font-size: 1.6rem;
    }
  }
</style>
