---
import Card from "./Skills_card.astro";
import Card2 from "./Skill2_card.astro";
import data from "../data/skills.json";
import data2 from "../data/skills_2.json";
const skills = data.skills;
const skills2 = data2.skills_2;
---

<section class="section__container" id="skills">
  <h1>Skills & Tools</h1>
  <div class="card-wrapper">
    <Card skills={skills} />
  </div>

  <div class="cards-wrapper2">
    {
      skills2.map((item) => (
        <Card2
          title={item.title}
          body={item.body}
        />
      ))
    }
  </div>

</section>

<style>
  .section__container {
    background-color: var(--primary-color);
    padding: 5rem 2rem;
    align-items: center;
    height: fit-content;
  }
  h1 {
    color: var(--secondary-color);
    margin-bottom: 2rem;
  }

  .card-wrapper {
    width: 100%;
    max-width: 900px;
    margin-bottom: 2rem;
  }

  .cards-wrapper2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 900px;
  }
</style>
