---
import Card from "./Skills_card.astro";
import data from "../data/skills.json";
const skills = data.skills;
---

<section class="section__container" id="skills">
  <h1>And these are the main tools in my toolbelt</h1>
  <div class="card-wrapper">
    <Card skills={skills} />
  </div>
</section>

<style>
  .section__container {
    background-color: var(--primary-color);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    align-items: center;
  }
  h1 {
    color: var(--secondary-color);
  }
</style>
