---
const { skills } = Astro.props;
---

<div class="skills_card">
  <ul>
    {skills && skills.map((item) => <li>{item}</li>)}
  </ul>
</div>

<style>
  .skills_card {
    background-color: var(--nice-gray);
    border: 2px solid var(--primary-color);
    border-radius: 0 1em 0 1em;
    width: 85%;
  }

  .skills_card ul {
    font-size: 1.25rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-left: 0.5rem;

    @media (width >= 640px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (width >= 960px) {
      font-size: 1.75rem;
    }
  }
</style>
