---
import Card from "./Skills_card.astro";
import Card2 from "./Skill2_card.astro";
import data from "../data/skills.json";
import data2 from "../data/skills_2.json";
const skills = data.skills;
const skills2 = data2.skills_2;
---

<section class="section__container" id="skills">
  <h1>And these are the main tools in my toolbelt</h1>
  <div class="card-wrapper">
    <Card skills={skills} />
  </div>

  <div class="cards-wrapper2">
    {
      skills2.map((item) => (
        <Card2
          title={item.title}
          body={item.body}
        />
      ))
    }
  </div>

</section>

<style>
  .section__container {
    background-color: var(--primary-color);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    align-items: center;
    height: fit-content;
  }
  h1 {
    color: var(--secondary-color);
  }

  .cards-wrapper2 {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
  }
</style>
