---
import "../styles/global.css";
---

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>José's Portfolio</title>
  </head>
  <body class="roboto-mystyle">
    <header>
      <nav class="nav__bar" id="navbar">
        <ul>
          <li><a class="nav__links" href="#about">About</a></li>
          <li><a class="nav__links" href="#experience">Experience</a></li>
          <li><a class="nav__links" href="#skills">Skills</a></li>
          <li><a class="nav__links" href="#projects">Projects</a></li>
          <li><a class="nav__links" href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <slot />
  </body>
</html>
